<!-- navbar.component.html -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand educare" routerLink="/">EDUCARE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarScroll">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="input-group" style="margin-right: 30px;">
            <input class="form-control" type="search" placeholder="Search topics" aria-label="Search" [(ngModel)]="searchKeyword" (input)="searchTopics()">
          </div>
          <!-- Display searched topics below the input field -->
          <div class="searched-topics" *ngIf="searchedTopics && searchedTopics.length > 0">
            <ul class="list-unstyled">
              <li *ngFor="let topic of searchedTopics">
                <a [routerLink]="['/topic', topic.id]">{{ topic.title }}</a>
              </li>
            </ul>
          </div>
          <!-- Fetching topics message -->
          <div class="fetching-topics" *ngIf="!searchedTopics && !topicsPage.content">
            <p>Loading topics...</p>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()" [ngClass]="{ 'show': isDropdownOpen }" >
          <a class="nav-link" href="#" role="button" aria-expanded="false" (click)="loadAllTopicsOnClick()">LEARN</a>
          <ul class="dropdown-menu">
            <li *ngFor="let topic of topicsPage.content">
              <a class="dropdown-item" [routerLink]="['/topic', topic.id]">{{ topic.title }}</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="btn btn-link btn-animation text-purple" routerLink="/login">Sign In</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-purple btn-design btn-animation" routerLink="/register">Register</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
