<div id="header">
  <div id="logo">
    <img [src]="
      sidebarActive
      ? 'assets/img/cross-icon.svg' :
      'assets/img/menu-icon.svg'"
         (click)="toggleSidebar.emit()" />
    <a routerLink="/"><span class="logo-text">EduCare</span></a>
  </div>
  <div id="menu">
    <a href="#" class="notification-icon">
      <i class="fas fa-bell"></i> <!-- Example icon for notification -->
    </a>
    <a class="logout-button" routerLink="/login" [queryParams]="{ logout: true }">Logout</a>
    <!--(click)="logout()"-->
  </div>
</div>
