<div class="signup-container">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/register/register.png" alt="Registration Image" class="img-fluid">
      </div>

      <div class="col-md-6">
        <div class="group-7">
          <h1 class="text-center">Welcome to <span style="color: blue">EDUCARE</span></h1>
          <form class="container my-5 border border-primary"
                style="max-width: 50rem; border-radius: 10px; padding: 10px;" (ngSubmit)="register()">
            <div class="row mb-3">
              <div class="col">
                <label id="formFirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName"
                       placeholder="Enter First Name" [(ngModel)]="registerRequest.firstname" required>

              </div>
              <div class="col">
                <label id="formLastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name"
                       name="lastName" [(ngModel)]="registerRequest.lastname" required>

              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label id="formEmail" class="form-label">Email address</label>

                <input type="email" class="form-control" id="email" placeholder="Enter Email"
                       name="email" [(ngModel)]="registerRequest.email" required>

                <small class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
            </div>
            <div class="mb-3">
              <label id="formPassword" class="form-label">Password</label>
              <div class="input-group">
                <input #passwordInput type="password" class="form-control" id="password" name="password"
                       placeholder="Password" [(ngModel)]="registerRequest.password" required>
                <button class="btn btn-outline-secondary" type="button" id="togglePassword"
                        (click)="togglePasswordVisibility()">
                  <i class="fas fa-eye"></i>
                </button>
              </div>
            </div>


            <div class="row mb-3">
              <div class="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="userType" id="candidate"
                         value="candidate" [(ngModel)]="registerRequest.role">
                  <label class="form-check-label" for="candidate">Candidate</label>
                </div>
              </div>
              <div class="col">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="userType" id="instructor"
                         value="Instructor" [(ngModel)]="registerRequest.role">
                  <label class="form-check-label" for="instructor">Instructor</label>
                </div>
              </div>
            </div>
            <div *ngIf="errorMsg.length" class="alert alert-danger" role="alert">
              <p *ngFor="let msg of errorMsg">{{ msg }}</p>
            </div>
            <button type="submit" class="btn btn-primary container  text-center">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  ²
